/*цвет основного текста #212121 */
/* вторичный цвет  #757575*/
/* белый цвет #FFFFFF */
/* акцент color #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: #212121;
  font-family: roboto, sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* logo */

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-color {
  color: var(--primary-text-color);
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* auth nav */

.auth-nav .contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: #ffffff;
  background-color: #2f303a;
  font-size: 44px;
  line-height: 1.36;
}

.button-hero {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

/* section */
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* features */
.features .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* абзацы преимуществ */
.features-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* directions list */
.directions-list {
  color: var(--primary-text-color);
}

/* button */
.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* member name */
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

/* должности */
.work-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
}

/* logo bottom */
.logo-bottom {
  color: var(--primary-text-color);
}

/* street adress */
.street {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* contacts bottom */
.contacts-bottom {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-bottom:hover {
  color: var(--accent-color);
}

/* projects 2nd page */
.project-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

/* product type */

.product-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
